@import "tailwindcss";

@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    :root {
        --background-light: #E9E9E9;
        --background-dark: #111313;
        --text-light: #DAA5C8;
        --text-dark: #f5f5f5;
        --card-bg-light: #fff;
        --card-bg-dark: #111313;
        --card-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
        --border-radius: 1.5rem;
        --accent: #D092C0;
    }

    html {
        height: 100%;
    }

    body {
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        background: var(--background-light);
        color: var(--text-light);
        transition: background 0.3s, color 0.3s;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: hsla(180, 5%, 7%, 1);
            background-image:
                radial-gradient(at 78% 71%, hsla(226, 17%, 14%, 1) 0px, transparent 50%),
                radial-gradient(at 1% 78%, hsla(207, 15%, 13%, 1) 0px, transparent 50%),
                radial-gradient(at 52% 21%, hsla(300, 10%, 15%, 1) 0px, transparent 50%);
            color: var(--text-dark);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media (prefers-color-scheme: light) {
        body {
            background: var(--background-light);
            color: var(--text-light);
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}